<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-reg</title>
</head>

<body>
    <h1>login-reg</h1>

    {% for message in get_flashed_messages() %} <!-- loop through the messages -->
    <p style="color: red">{{message}}</p> <!-- display each message in a paragraph tag -->
    {% endfor %}

    <!-- ===== REGISTER ========== -->
    <h3>REGISTER</h3>
    <form action="/users/register" , method="post">
        <div>
            first_name
            <input name="first_name">
        </div>
        <div>
            last_name
            <input name="last_name">
        </div>
        <div>
            email
            <input name="email">
        </div>
        <div>
            password
            <input name="password">
        </div>
        <div>
            confirm_password
            <input name="confirm_password">
        </div>

        <p></p>
        <button>Register</button>
    </form>

    <!-- ===== LOGIN ====== -->
    <h3>Login</h3>
    <form action="/users/login",  method="post">
        <div>
            email
            <input name="email">
        </div>
        <div>
            password
            <input name="password">
        </div>

        <p></p>
        <button>login</button>
    </form>

</body>

</html>